@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "flowbite";

@font-face {
    font-family: 'expansiva';
    src: url('../../public/fonts/expansiva-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


body {
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
  }

  h1{
    font-family: 'expansiva', sans-serif;
  }

  p{
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
  }



  .keen-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .keen-slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
  }
  .keen-slider__slide.keen-slider__slide--active {
    filter: brightness(1.1);
  }
  .slide-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 2rem;
    z-index: 10;
  }
  .slide-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .keen-slider__slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    filter: brightness(1.2) saturate(1.2);
    transition: filter 0.3s ease;
  }

  .keen-slider__slide {
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }