---
import WhiteBG from "../layouts/WhiteBG.astro";
---

<WhiteBG title="Contacto">
    <!-- title -->
    <div class="flex container mx-auto border border-dashed border-pink-500">
        <div class="flex-auto">
            <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-4">
                <div>
                    <div class="py-12 ">
                        <h1 class="font-sans font-bold text-pryctblu text-3xl lg:text-5xl capitalize pl-4 md:pl-0">Contacto</h1>
                    </div>
                    <!-- Contact -->
                    <div class="border border-dashed border-blue-600 lg:pb-12 pl-8 md:pl-0">
                        <div class="flex flex-column flex-wrap align-start justify-start py-8">
                            <div class="flex-auto w-full py-8">
                                <p class="font-serif pb-3 uppercase">Contact</p>
                                <p class="font-serif font-bold">contacto@proyect.mx</p>
                            </div>
                            <div class="flex-auto w-full py-8">
                                <p class="font-serif pb-3 uppercase">Teléfono de oficina:</p>
                                <p class="font-bold font-serif">624 456 32 12</p>
                            </div>
                            <div class="flex-auto w-full py-8">
                                <p class="pb-3 uppercase font-serif">WhatsApp/Informes:</p>
                                <p class="font-bold font-serif">624 456 32 12</p>
                            </div>
                            <div class="flex-auto w-full py-8">
                                <p class="pb-3 uppercase font-serif">Dirección:</p>
                                <ul>
                                    <li>
                                        <p class="font-bold font-serif">Calle Las Palmas esquina con calle Girasol,</p>
                                    </li>
                                    <li>
                                        <p class="font-bold font-serif">Colonia Jacarandas</p>
                                    </li>
                                    <li>
                                        <p class="font-bold font-serif">23473, Cabo San Lucas, BCS</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="hidden lg:block h-full">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.2636072289633!2d-109.95640285952082!3d22.90364592084073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86af358624cce0e1%3A0x303df85693508415!2sTaller%20De%20Dise%C3%B1o%20%22Proyect%22!5e0!3m2!1ses-419!2smx!4v1721066725608!5m2!1ses-419!2smx" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="block lg:hidden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.2636072289633!2d-109.95640285952082!3d22.90364592084073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86af358624cce0e1%3A0x303df85693508415!2sTaller%20De%20Dise%C3%B1o%20%22Proyect%22!5e0!3m2!1ses-419!2smx!4v1721066725608!5m2!1ses-419!2smx" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</WhiteBG>

