---
import WhiteBG from "../layouts/WhiteBG.astro";
---

<WhiteBG title="Proyectos">
    <!-- title -->
    <div class="flex container mx-auto border border-dashed border-pink-500">
        <div class="py-12">
            <h1 class="font-serif text-4xl lg:text-6xl capitalize">Equipo</h1>
        </div>
    </div>
    <!-- Section 1 -->
    <div class="container mx-auto bg-slate-100 p-12">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8">
            <!-- Team member 1 -->
            <div class="border border-dashed border-red-800">
                <div class="team-member flex flex-col items-center text-center">
                    <div class="w-56 h-56 md:w-80 md:h-80 mb-4">
                      <img class="rounded-full w-full h-full object-cover" src="https://picsum.photos/600" alt="Team Member 1">
                    </div>
                    <h3 class="font-serif text-xl font-semibold">Team Member 1</h3>
                    <p class="text-gray-600 font-serif">Job Title 1</p>
                  </div>
                </div>
                <!-- Team member #2-->
                <div class="border border-dashed border-red-800">
                <div class="team-member flex flex-col items-center text-center">
                    <div class="w-56 h-56 md:w-80 md:h-80 mb-4">
                      <img class="rounded-full w-full h-full object-cover" src="https://picsum.photos/600" alt="Team Member 1">
                    </div>
                    <h3 class="text-xl font-semibold font-serif">Team Member 2</h3>
                    <p class="text-gray-600 font-serif">Job Title 1</p>
                </div>
            </div>
          </div>
        </div>
        <div class="container mx-auto p-12">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 py-4">
                <div class="border border-dashed border-red-800">
                    <!-- Team member #3 -->
                    <div class="team-member flex flex-col items-center text-center">
                        <div class="w-36 h-36 md:w-56 md:h-56 mb-4">
                          <img class="rounded-full w-full h-full object-cover" src="https://picsum.photos/600" alt="Team Member 1">
                        </div>
                        <h3 class="text-xl font-semibold font-serif">Team Member 3</h3>
                        <p class="text-gray-600 font-serif">Job Title 3</p>
                      </div>
                </div>
                <div class="border border-dashed border-red-800">
                    <!-- Team member #4 -->
                    <div class="team-member flex flex-col items-center text-center">
                        <div class="w-36 h-36 md:w-56 md:h-56 mb-4">
                          <img class="rounded-full w-full h-full object-cover" src="https://picsum.photos/600" alt="Team Member 1">
                        </div>
                        <h3 class="text-xl font-semibold font-serif">Team Member 4</h3>
                        <p class="text-gray-600 font-serif">Job Title 3</p>
                      </div>
                </div>
                <div class="border border-dashed border-red-800">
                    <!-- Team member #5 -->
                    <div class="team-member flex flex-col items-center text-center">
                        <div class="w-36 h-36 md:w-56 md:h-56 mb-4">
                          <img class="rounded-full w-full h-full object-cover" src="https://picsum.photos/600" alt="Team Member 1">
                        </div>
                        <h3 class="text-xl font-semibold font-serif">Team Member 5</h3>
                        <p class="text-gray-600 font-serif">Job Title 3</p>
                      </div>
                </div>
        </div>
    </div>
    <!-- -->
</WhiteBG>

