---
import WhiteBG from "../layouts/WhiteBG.astro";
---

<WhiteBG title="Estudio" altBG={`background-image: url("https://picsum.photos/id/20/2560/1600")`}>
    <!-- title -->
    <div class="flex container mx-auto border border-dashed border-pink-500">
        <div class="py-12">
            <h1 class="font-serif text-4xl lg:text-6xl capitalize">Estudio</h1>
        </div>
    </div>
    <!-- Section 1 -->
    <div class="container mx-auto bg-slate-100 p-12">
        <div class="columns-1 md:columns-2 gap-12 text-justify">
            <p class="font-serif">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus dolorem assumenda? Nobis accusantium officia repellendus, illo incidunt voluptas numquam sunt placeat facere quidem maxime officiis pariatur aperiam nesciunt earum?
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eum pariatur consequatur incidunt laboriosam blanditiis nemo voluptate vitae. Numquam adipisci a ex quibusdam consequuntur pariatur laudantium, ipsa iste eaque corporis?
            </p>
            <p class="font-serif">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus dolorem assumenda? Nobis accusantium officia repellendus, illo incidunt voluptas numquam sunt placeat facere quidem maxime officiis pariatur aperiam nesciunt earum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis voluptate obcaecati cupiditate vero placeat laborum odit ut inventore voluptatibus soluta eveniet voluptas ea totam, dolores optio doloribus, modi saepe tenetur.
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae voluptate distinctio alias dolor aliquam obcaecati molestiae ab, quisquam, minima libero repellat ipsa commodi, nihil et est. Ratione, aut! Nisi, quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto modi ex adipisci, mollitia quo qui atque nostrum ab exercitationem dolorum ipsam, cum voluptatem a est expedita tempore cupiditate alias ipsum!
            </p>

        </div>
    </div>
</WhiteBG>

