---
import WhiteBG from "../layouts/WhiteBG.astro"
---

<WhiteBG title="Proyectos">
    <!-- title -->
    <div class="flex container mx-auto border border-dashed border-pink-500">
        <div class="py-12">
            <h1 class="text-4xl lg:text-6xl capitalize">proyectos</h1>
        </div>
    </div>
    <!-- Section 1 :: 1 BIG LEFT 2 SMall -->
    <div class="container mx-auto border border-dashed border-orange-600">
        <div class="grid grid-cols-2 grid-rows-1 md:grid-rows-2 md:grid-cols-3  border border-dashed border-blue-700">
            <div class="col-span-2 md:row-span-2 border border-dashed border-red-700">
                <div class="flex flex-row align-middle justify-start">
                    <a href="">
                      <div class="relative group">
                        <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                          <ul>
                            <li>
                              <p class="text-base drop-shadow">Un Lugar</p>
                            </li>
                            <li>
                                <p class="text-2xl drop-shadow">El Nombre del Proyecto</p>
                              </li>
                            <li>
                              <p class="text-base drop-shadow">2023</p>
                            </li>
                          </ul>
                        </div>
                        <div class="bg-white-700">
                            <img class="flex-1 h-auto max-w-full p-2 group-hover:opacity-70 duration-300" src="https://picsum.photos/1000/500" alt="" />
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="md:col-span-1 row-span-1 border border-dashed border-blue-700 flex md:flex-col flex-row flex-wrap align-middle justify-center">
                <div class="relative group">
                    <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                        <ul>
                          <li>
                            <p class="text-base drop-shadow">Un Lugar</p>
                          </li>
                          <li>
                              <p class="text-2xl drop-shadow">El Nombre del Proyecto</p>
                            </li>
                          <li>
                            <p class="text-base drop-shadow">2023</p>
                          </li>
                        </ul>
                      </div>
                      <img class="flex-auto h-auto max-w-full p-2 group-hover:opacity-70 duration-300" src="https://picsum.photos/600/280" alt="">
                </div>
                    
            </div>
            <div class="md:col-span-1 row-span-1 border border-dashed border-blue-700 flex md:flex-col flex-row flex-wrap align-middle justify-center">
                <div class="relative group">
                    <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                        <ul>
                          <li>
                            <p class="text-base drop-shadow">Un Lugar</p>
                          </li>
                          <li>
                              <p class="text-2xl drop-shadow">El Nombre del Proyecto</p>
                            </li>
                          <li>
                            <p class="text-base drop-shadow">2023</p>
                          </li>
                        </ul>
                      </div>
                      <img class="flex-auto h-auto max-w-full p-2 group-hover:opacity-70 duration-300" src="https://picsum.photos/600/280" alt="">
                </div>
                    
            </div>
        </div>
    </div>
    <!-- Section 2 :: 3 small -->
    <div class="container mx-auto border border-dashed border-orange-600">
        <div class="grid grid-cols-2 md:grid-cols-3">
            <div class="col-span-1">
                <div class="flex flex-auto align-middle justify-center px-2 py-2">
                    <img src="https://picsum.photos/600/280" alt="1" class="flex-auto h-auto max-w-full">
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex flex-auto align-middle justify-center px-2 py-2">
                    <img src="https://picsum.photos/600/280" alt="1" class="flex-auto h-auto max-w-full">
                </div>
            </div>
            <div class="col-span-2 md:col-span-1">
                <div class="flex flex-auto align-middle justify-center px-2 py-2">
                    <img src="https://picsum.photos/600/280" alt="1" class="flex-auto h-auto max-w-full">
                </div>
            </div>
        </div>
    </div>
    <!-- Section 3 :: 1 BIG RIGHT 2 SMall -->
    <div class="container mx-auto border border-dashed border-orange-600">
        <div class="grid grid-cols-2 grid-rows-1 md:grid-cols-3  border border-dashed border-blue-700">
            <div class="md:col-span-1 row-span-1 border border-dashed border-blue-700 flex md:flex-col flex-row flex-nowrap md:flex-wrap align-middle ">
                    <img class="flex-auto h-auto max-w-full p-2" src="https://picsum.photos/600/280" alt="">
                    <img class="flex-auto h-auto max-w-full p-2" src="https://picsum.photos/600/280" alt="">
            </div>
            
            <div class="col-span-2 md:row-span-2 border border-dashed border-red-700">
                <div class="flex flex-row align-middle justify-end">
                    <img class="flex-1 h-auto max-w-full p-2" src="https://picsum.photos/1000/500" alt="">
                </div>
            </div>
        </div>
    </div>
     <!-- Section 4 :: 3 small -->
     <div class="container mx-auto border border-dashed border-orange-600">
        <div class="grid grid-cols-2 md:grid-cols-3">
            <div class="col-span-1">
                <div class="flex flex-auto align-middle justify-center px-2 py-2">
                    <img src="https://picsum.photos/600/280" alt="1" class="flex-auto h-auto max-w-full">
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex flex-auto align-middle justify-center px-2 py-2">
                    <img src="https://picsum.photos/600/280" alt="1" class="flex-auto h-auto max-w-full">
                </div>
            </div>
            <div class="col-span-2 md:col-span-1">
                <div class="flex flex-auto align-middle justify-center px-2 py-2">
                    <img src="https://picsum.photos/600/280" alt="1" class="flex-auto h-auto max-w-full">
                </div>
            </div>
        </div>
    </div>
</WhiteBG>