---
import WhiteBG from "../layouts/WhiteBG.astro"
---

<WhiteBG>
    <div class="flex container mx-auto border border-dashed border-pink-500">
        <div class="py-12">
            <h1 class="text-4xl capitalize">projects</h1>
        </div>
    </div>
</WhiteBG>