---
import WhiteBG from "../layouts/WhiteBG.astro";
---


<WhiteBG title="Propiedades">
<!-- title -->
<div class="flex container mx-auto justify-end border border-dashed border-pink-500">
    <div class="py-12">
        <h1 class="font-sans font-bold text-pryctblu text-3xl lg:text-5xl capitalize pl-4 md:pl-0">Propiedades</h1>
    </div>
</div>
<!-- Section 1 -->
 <div class="container mx-auto bg-gray-100 mb-12">
    <div class="flex border border-dashed border-red-600 p-8">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8">
            <div class="col-span-1">
                <h3 class="text-pryctblu text-2xl font-bold mb-4">Proyect: Cabo</h3>
            </div>
            <div class="col-span-1">
                <p class="font-serif text-justify lg:mt-14">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus dolorem assumenda? Nobis accusantium officia repellendus, illo incidunt voluptas numquam sunt placeat facere quidem maxime officiis pariatur aperiam nesciunt earum?
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eum pariatur consequatur incidunt laboriosam blanditiis nemo voluptate vitae. Numquam adipisci a ex quibusdam consequuntur pariatur laudantium, ipsa iste eaque corporis?
                </p>
                <br>
                <p class="font-serif text-justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus dolorem assumenda? Nobis accusantium officia repellendus, illo incidunt voluptas numquam sunt placeat facere quidem maxime officiis pariatur aperiam nesciunt earum?
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eum pariatur consequatur incidunt laboriosam blanditiis nemo voluptate vitae. Numquam adipisci a ex quibusdam consequuntur pariatur laudantium, ipsa iste eaque corporis?
                </p>

            </div>
        </div>
    </div>
 </div>

</WhiteBG>