            <!-- -->
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:gap-8 p-4">
            <a href="">
                <div class="relative group">
                    <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                      <ul>
                        <li>
                          <p class="text-base drop-shadow font-serif">Un Lugar</p>
                        </li>
                        <li>
                            <p class="text-2xl drop-shadow font-serif">El Nombre del Proyecto</p>
                          </li>
                        <li>
                          <p class="text-base drop-shadow font-serif">2023</p>
                        </li>
                      </ul>
                    </div>
                    <div class="bg-white-700">
                        <img class="flex-1 h-auto max-w-full p-2 group-hover:opacity-70 duration-300" src="https://picsum.photos/1000/500" alt="" />
                    </div>
                  </div>
            </a>
            <a href="">
                <div class="relative group">
                    <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                      <ul>
                        <li>
                          <p class="text-base drop-shadow">Un Lugar</p>
                        </li>
                        <li>
                            <p class="text-2xl drop-shadow">El Nombre del Proyecto</p>
                          </li>
                        <li>
                          <p class="text-base drop-shadow">2023</p>
                        </li>
                      </ul>
                    </div>
                    <div class="bg-white-700">
                        <img class="flex-1 h-auto max-w-full p-2 group-hover:opacity-70 duration-300 " src="https://picsum.photos/1000/500" alt="" />
                    </div>
                  </div>
            </a>
            <a href="">
                <div class="relative group">
                    <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                      <ul>
                        <li>
                          <p class="text-base drop-shadow">Un Lugar</p>
                        </li>
                        <li>
                            <p class="text-2xl drop-shadow">El Nombre del Proyecto</p>
                          </li>
                        <li>
                          <p class="text-base drop-shadow">2023</p>
                        </li>
                      </ul>
                    </div>
                    <div class="bg-white-700">
                        <img class="flex-1 h-auto max-w-full p-2 group-hover:opacity-70 duration-300 " src="https://picsum.photos/1000/500" alt="" />
                    </div>
                  </div>
            </a>        
        </div>