---
import NavBar2 from "../components/NavBar2.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <ViewTransitions/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={SITE_DESCRIPTION}>
		<title>{SITE_TITLE} - {title}</title>
	</head>
	<body>
        <div class="min-h-screen flex flex-col">
            <header class="max-w-screen">
                <NavBar2 />
            </header>
            <div class="flex-1 flex flex-col sm:flex-row">
                <main class="flex-1">
                    <slot/>
                </main>
            </div>
            <footer class="max-w-screen">
                <Footer/>
            </footer>
        </div>
        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>


