---
import WhiteBG from "../../layouts/WhiteBG.astro";
import Carousel from "../../components/Carousel.astro";
---


<WhiteBG title="Casa RA">
    <div class="border border-dashed border-red-500">
        <Carousel/>
    </div>
    <div class="container mx-auto border border-dashed border-blue-500">
        <div class="py-12 px-4 md:px-0">
            <p class="text-3xl">Some text</p>
            <h1 class="text-6xl font-semibold">A Project</h1>
        </div>
        <div class="py-12 px-4 md:px-0">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
        </div>
        <div class="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
        </div>
        <div class="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis veniam, corporis perferendis doloremque sint quod. Eveniet optio adipisci a officia iure veniam quia magni odio. Nihil sit corporis omnis esse!</p>
        </div>
    </div>




</WhiteBG>